* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  /* border: 1px solid plum; */
}

body {
  /* text-align: center; */
  margin: 0 6% 0 6%;
}

nav {
  /* height: 70px; */
  text-align: center;
  padding: 20px;
}

main {
  /* text-align: center; */
}

main > img {
  width: 100px;
  color: white;
  background-color: white;
  border-radius: 10px;
  /* float: clear; */
}

ul {
  text-align: center;
}

ul > li {
  list-style-type:upper-roman;
}