* {
    border: 1px solid plum;
    /* margin: 0; */
    padding: 0;
}

footer > .content > ul {
    display: flex;
    gap: 10px;

}

footer > .content > ul > li {
    list-style-type:none;
    margin-bottom: 5px;
}

body {
    margin: 0;
    background-color: #e6e6e6;
    color: #333;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



nav {
    padding: 0.5rem;
    text-align: center;
    text-transform: lowercase;
    background-color: plum;
}

main, .content {
    margin: 0 20vw 0 25vw;
}

.right > img {
    border-radius: 20px;
    width: 100px;
}

.flex {
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    margin-top: 10%;

}

.list > li {
    margin: 0 0 0 20px;
    list-style-type: decimal;
    margin-bottom: 5px;
}

.content > h2 {
    margin: 0;
}

footer {
    background-color: #333;
    margin: 7% 0 0 0;

}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content > * {
    color: white;
}

body > footer > div > div.left > ul > li {
    list-style-type: none;
}

body > footer > div > div.left > ul > li > a {
    text-decoration: none;
    color: white;
}

body > footer > div > div.left > ul {
    display: flex;
    gap: 10px;
}

body > footer > div > div.left > ul > li {
    margin-bottom: 10px;
}

@media screen and (max-width: 489px) {

    footer > .content {
        flex-direction: column;
        gap: 4vw;
    }



  }